@import './mixin.scss';

.rating_container{
  position: relative;
  width: 60px;
  height: px2em(24);

  .star_overflow{
    overflow: hidden;
    position: relative;
    height: 16px;
  }
  .star_container{
    position: absolute;
    left: 0;
    top: 0;
    height: 16px;
    display: flex;
    .fa{
      color: rgb(221, 157, 105);
      width: 12px;
      @include font-dpr(12px);
    }
  }
  > .star_container{
    .fa{
      color: #ddd;
    }
  }
}
