@import '../../styles/mixin.scss';

.discover{
  position: relative;
  margin-bottom: .3rem;
  &-header{
    height: px2em(50);
    background-image: $bg;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: px2em(20) ;
    button{
      position: absolute;
      height: px2em(50);
      width: px2em(50);
      text-align: center;
      .fa{
        color: $white;
      }
    }
    h2{
      flex: 1;
      text-align: center;
      @include font-dpr(16px);
      color: $white;
    }
  }

  &-more{
    text-align: center;
    color: #999;
    font-size: .293333rem;
    margin: 0.3rem 0;
    text-decoration: none;

    span {
      position: relative;
      &:after {
        content: '>';
        position: absolute;
        top: 0;
        right: -0.25rem;
      }
    }
  }
  &-item{
    display: flex;
    width: 50%;
    text-decoration: none;
    border-bottom: 1px solid #ededed;
    background-color: #fff;
    flex-wrap: wrap;
    height: 2.13333rem;
    padding: 0 .4rem;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    &:nth-child(1){
      position: absolute;
      justify-content: space-between;
      height:4.26667rem;
      align-items: normal;
      padding: .586667rem .293333rem .16rem .426667rem;
      img{
        width: 2rem;
        align-self: flex-end;
      }
    }
    &:nth-child(5){
      margin-left: 50%;
    }
    &:nth-child(3n+1){
      border-right: 1px solid #ededed;
    }
    &:nth-child(4){
      position: absolute;
    }
    &:nth-child(2), &:nth-child(3){
      margin-left: 50%;
    }
  }
  &-img{
    width: 1.2rem;
  }
  &-wrapper{
    max-width: 3rem;
  }
  &-title{
    line-height: 1.2;
    font-size: .426667rem;
    margin-bottom: .16rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  &-sub{
    line-height: 1.2;
    font-size: .32rem;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    &-img{
      width: 100%;
      height: 2.4rem;
      img{
        height: 100%;
        width: 100%;
      }
    }
  }
  &-activity-list {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 0 .3rem ;
    margin: 0.3rem 0;
    background: #fff;
  }
  &-activity{

    &-header {
      color: #333;
      text-align: center;
      display: flex;
      margin: .3rem 30% 0;
      align-items: center;
      justify-content: space-around;
      h3 {
        font-size: .5rem;
        font-weight: 700;

      }
    }
    &-body{
      flex: 1;
      margin: .2rem .1rem;
      overflow: hidden;
      position: relative;
      img{
        max-width: 100%;
        height: 2.93333rem;
      }
      .body-title{
        font-size: .4rem;
        color: #333;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      .body-price{
        font-size: .293333rem;
        margin-top: .2rem;
        span{
          &:nth-child(1) {
            color: #ff5339;
            margin-right: .1rem
          }
          &:nth-child(2){
            color: #999;
            text-decoration: line-through
          }
        }
      }
      .body-corner{
        position: absolute;
        top: 0;
        left: 0;
        font-size: .293333rem;
        border: 1px solid #666;
        background: #666;
        color: #fff;
      }
    }
  }
  &-sub-title{
    font-size: .293333rem;
    text-align: center;
    color: #999;
    padding-bottom: .233333rem;
  }
  &-left, &-right{
    width: 0.4rem;
    border: 1px solid #333;
    height: 0;
    position: relative;
    &:after{
      position: absolute;
      top: -.07rem;
      height: .13333rem;
      width: .13333rem;
      border-radius: 50%;
      background: #333;
      content: "";
    }
  }
  &-left:after{
    right: -.1rem;
  }
  &-right:after{
    left:-.1rem;
  }
  &-container{
    display: flex;

  }

}
