@import '../../styles/mixin.scss';

.header{
  height: px2em(50);
  width: 100%;
  background-image: $bg;
  position: relative;
  padding: px2em(20);

  .fa{
    color: $white;
    display: inline-block;
    vertical-align: middle;
  }
  strong{
    margin: 0 px2em(10);
    display: inline-block;
    max-width: px2em(360);
    @include ellipsis;
    vertical-align: middle;
    color: $white;
  }
}
.search{

  background-image: $bg;
  width: 100%;
  display: flex;
  a{
    margin: 0 px2em(20) px2em(20);
    display: flex;
    width: 100%;
    padding: px2em(10) px2em(20);
    background-color: $white;
    align-items: center;
    justify-content: center;
    color: #666;
  }
  &-page{
    position: fixed;
    top: 100vh;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 999;
    overflow: auto;
  }
  &-nav{
    height: px2em(50);
    background-image: $bg;
    display: flex;
    position: relative;
    padding: px2em(20) ;
    button{
      position: absolute;
      height: px2em(50);
      width: px2em(50);
      text-align: center;
      .fa{
        color: $white;
      }
    }
    h2{
      flex: 1;
      text-align: center;
      @include font-dpr(16px);
      color: $white;
    }
  }
  &-wrapper{

    width: 100%;
    text-align: center;
    input{
      width: calc(100% - 40px);
      padding: px2em(20);
      margin: px2em(20) 0;
      background-color: #f4f4f4;
      border: none;
    }
  }
  &-location{
    background-color: $white;
    padding: px2em(20);
  }
  &-item{
    padding: px2em(20);
    border-bottom: 1px solid #eee;
    @include font-dpr(16px);
  }
  &-address{
    @include font-dpr(12px);
    color: #666;
  }
}

@keyframes slideup {
  0% { top: 100vh};
  100% {top: 0};
}
@keyframes slidedown {
  0% {top: 0};
  100% { top: 100vh};
}
.slideup{
  animation: slideup .6s ease;
  top: 0;
}
.slidedown{

  animation: slidedown .6s ease;
}

